# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
VolumeIcon.icns
com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VisualStudioCode
.vscode/
.history/
*.code-workspace

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# Cypress
cypress/screenshots/
cypress/videos/

# Playwright
test-results/
playwright-report/

# Logs
logs
*.log

# Others
.env
.env.*
.DS_Store
coverage/
.cache/
dist/
